html, body {
    background-color: rgb(240, 230, 240);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.pages {
    border: 2px solid black;
    border-radius: 3px;
    background-color: rgba(236, 116, 240, 0.5);
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}

.pages a {
    border: 2px solid black;
    border-radius: 3px;
    padding: 0px 20px 0px 20px;
    background-color: rgba(230, 87, 182, 0.5);
}

a.current-page {
    border: 4px solid black;
    background-color: rgba(206, 78, 163, 0.5);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex-grow: 1;
}

.users {
    margin: 5px;
}

.user {
    margin: 10px;
    padding: 10px;
    border: 3px solid rgba(206, 78, 163, 0.5);
    background-color: blueviolet;
    display: inline-block;
}

.video-container {
    display: flex;
}

.video-viewer h3 {
    width: 340px;
}

.video-buttons {
    display: flex;
    align-items: center;
}

.video-buttons a {
    padding: 15px;
    background-color: rgb(148, 26, 119);
    border-radius: 10px;
}

.video-buttons a:hover {
    background-color: rgb(173, 43, 142);
}

a:link.user, a:visited.user, a:hover.user, a:hover.user {
    color: rgb(67, 153, 202);
    text-decoration: none;
}

.user-banner {
    margin: 5px;
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 10px;
    background-color: rgb(116, 116, 116);
    color: rgb(219, 219, 219);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
